<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"
<head><script src="https://code.jquery.com/jquery-1.12.4.min.js"></script></head>
<div id="app">
{% block content %}
    <div class="container">
      <form id="upload_file_form" class="boxed"  role="form" enctype="multipart/form-data">
        <input type="hidden" id="lat" name="lat" value="3487">
        <input type="hidden" id="lng" name="lng" value="3487">
        <input type="hidden" id="element" name="element" value="3487">
        <input type="hidden" id="params" name="params" value="3487">
        <input type="radio" id="trail" name="action" value="label:trail" checked>
        <label for="trail">TRAIL</label>
        <input type="radio" id="offtrail" name="action" value="label:offtrail">
        <label for="offtrail">OFFTRAIL</label>
        <input type="radio" id="bush" name="action" value="label:bush">
        <label for="bush">BUSH</label>
        <input type="radio" id="road" name="action" value="label:road">
        <label for="road">ROAD</label>
        <input type="radio" id="paddle" name="action" value="label:paddle">
        <label for="paddle">PADDLE</label>
        <input type="radio" id="crossing" name="action" value="label:crossing">
        <label for="crossing">CROSSING</label>
        <input type="radio" id="float" name="action" value="label:float">
        <label for="float">FLOAT</label>
        <input type="radio" id="rapid" name="action" value="label:rapid">
        <label for="rapid">RAPID</label>
        <div style="width: 10px; display:inline-block;"></div>
        <input type="radio" id="split" name="action" value="split">
        <label for="split">SPLIT</label>
        <input type="radio" id="remove" name="action" value="remove">
        <label for="remove">DEL</label>
        <input type="radio" id="info" name="action" value="info">
        <label for="info">INFO</label>
        <input type="radio" id="create_route" name="action" value="create_route" class="button">
        <label for="create_route">ADD</label>
        <input type="radio" id="edit" name="action" value="edit">
        <label for="edit">EDIT</label>
        <input type="radio" id="simplify" name="action" value="simplify">
        <label for="simplify">SIMPL</label>
        <div style="width: 10px; display:inline-block;"></div>
        <input type="text" id="label_name" name="label_name" value="primary" size=10>
        <input type="radio" id="add_label" name="action" value="add_label">
        <label for="add_label">LABEL</label>
        <input type="radio" id="remove_label" name="action" value="remove_label">
        <label for="remove_label"><strike>LABEL</strike></label>
        <input type="radio" id="stats" name="action" value="stats" class="button">
        <label for="stats">STATS</label>
        <input type="radio" id="enable_highlight" name="action" value="enable_highlight" class="button">
        <label for="enable_highlight">HIGHLIGHT</label>
        <input type="radio" id="disable_highlight" name="action" value="disable_highlight" class="button">
        <label for="disable_highlight"><strike>HIGHLIGHT</strike></label>
        <div style="width: 10px; display:inline-block;"></div>
        {% if git_controls %}
        <input type="text" id="message" name="message" value="Commit description" size=40>
        <input type="radio" id="commit" name="action" value="commit" class="button">
        <label for="commit">COMMIT</label>
        <input type="radio" id="push" name="action" value="push" class="button">
        <label for="push">PUSH</label>
        <input type="radio" id="pull" name="action" value="pull" class="button">
        <label for="pull">PULL</label>
        <div style="width: 10px; display:inline-block;"></div>
        {% endif %}
        <!-- <input type="text" id="filename" name="filename" value="alaska_v2.kml" size=13>
        <input type="radio" id="save" name="action" value="save" class="button"> -->
        <input type="radio" id="download" name="action" value="download" class="button">
        <label for="download">DOWNLOAD</label>
        <div style="width: 10px; display:inline-block;"></div>
        <input type="radio" id="wayback" name="action" value="wayback" class="button">
        <label for="wayback">WAYBACK</label>
        <div style="width: 10px; display:inline-block;"></div>
        <input type="radio" id="toggle_marker_visibility" name="action" value="toggle_marker_visibility" class="button">
        <label for="toggle_marker_visibility">MARKERS</label>
      <!-- </form>   
      <form id="upload_file_form" method="post" enctype="multipart/form-data" class="boxed"> -->
        <input name="uploaded_kml_route" type="file">
        <input type="radio" id="upload_file" name="action" value="upload_file" class="upload_file_button">
        <label for="upload_file">UPLOAD</label>
    </form>
    
    </div>  
{% endblock %}

<script>
$("input.button").change(function() {
  if(this.checked) {
    console.log($('form').serialize());
    $(this).prop('checked', true)
    input_radio = $(this)
    console.log(input_radio[0].id)
    $.ajax({
        url: '/' + this.id,
        data: $('form').serialize(),
        type: 'POST',
        success: function(response){ console.log('here');           console.log(response);

          if (input_radio[0].id == "download") {
            var blob = new Blob([(new XMLSerializer()).serializeToString(response)], {type: 'text/xml'});
            var link=document.createElement('a');
            link.href=window.URL.createObjectURL(blob);
            link.download='track.kml';
            link.click();
          } else {
            console.log(response);
            response_dict = JSON.parse(response);
            if ("js_code" in response_dict) {
              evalInScope(response_dict["js_code"], $('iframe')[0].contentWindow);
            }
            input_radio.prop('checked', false);
          }
        },
        error: function(error){
          console.log(error);
          input_radio.prop('checked', false)
        }
      }
    );
  }
});

function evalInScope(js, contextAsScope) {
    //# Return the results of the in-line anonymous function we .call with the passed context
    return function() { with(this) { return eval(js); }; }.call(contextAsScope);
}


$("input.upload_file_button").change(function() {
  if(this.checked) {
    $(this).prop('checked', true)
    input_radio = $(this)

    var form_data = new FormData($('#upload_file_form')[0]);
    $.ajax({
      type: 'POST',
      url: '/upload_route',
      data: form_data,
      contentType: false,
      cache: false,
      processData: false,
      success: function(response) {
        console.log('Success!');
        response_dict = JSON.parse(response);
        if ("js_code" in response_dict) {
          evalInScope(response_dict["js_code"], $('iframe')[0].contentWindow);
        }
        input_radio.prop('checked', false)  
      },
      error: function(error){
        console.log(error);
        input_radio.prop('checked', false)
      }
    });
  }
});

</script>

{% include 'map.html' %}

</div>